@page
@using WebdevProjectStarterTemplate.Models
@using WebdevProjectStarterTemplate.Repositories
@model WebdevProjectStarterTemplate.Pages.Bestellen


<div class="row mt-3">
    <div class="Category" style="width: fit-content">
        @foreach (var category in Model.Categories)
        {
            //@if (category.Products.Any())
            //{
                <li class="list-group-item">@category.Name
                    <a asp-route-categoryId="@category.CategoryId">+</a>
                </li> 
           
        }
    </div>
</div>




<div class="row mt-3">
    <div class="col" style="width: fit-content">
        @if (Model.ProductsInCategory != null)
        {
            @foreach (var product in Model.ProductsInCategory)
            {
                <li class="list-group-item">@product.Name
                
                    <form method="post"  asp-page-handler="Add">
                        <input type="hidden" name="productId" value="@product.ProductId" asp-for="@product.ProductId"/>
                        <button type="submit">Add</button>
                    </form>
                </li>

            }
        }
        
    </div>
</div>


<div class="col mt-3" style="width: fit-content">  
    @if (Model.OrderLine != null)
    {
        @foreach (var order in Model.OrderLine)
        {
            <li class="list-group-item">@order.ProductId</li> // naam. join 
            <form method="post" asp-page-handler="Bestellen">
                <input type="hidden" name="ProductId" value="@order.ProductId" asp-for="@order.ProductId"/>
                <button type="button" value="Increment" name="Action" >+</button>
                <input type="number" value="@order.Amount"/>
                <button type="button" value="Decrement" name="Action" >-</button>
            </form>                                            
        }
    }

    </div>






