@page
@using WebdevProjectStarterTemplate.Pages.Products
@model WebdevProjectStarterTemplate.Pages.DisplayProducts

<div class="row">
    <div class="col">
                <a asp-page="@nameof(Create)" class="btn btn-primary">Create New Product</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.ProductWithCategory)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Category.Name</td>
                    <td>
                        <a asp-page="@nameof(Delete)" asp-route-productId="@product.ProductId" class="btn btn-danger">Delete</a> |
                        <a asp-page="@nameof(Update)" asp-route-productId="@product.ProductId" class="btn btn-info">Update</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>